<div class="w-full h-screen bg-white">
    <div class="container absolute mx-auto w-full h-1/6 bg-gray-400">
        <div class="container mx-auto w-full h-3/6 flex">
            <div class="container w-12 h-12 bg-gray-400">
                <button class="w-full h-full p-1" (click)="sidebarMenu.toggleMenu()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="full" height="full" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                      </svg>
                </button> 
            </div>
        </div>
        <div class="container mx-auto w-full h-3/6 py-3 pl-4 pr-8">
            <input type="text" class="w-full rounded-lg mx-auto">
        </div>
    </div>
    <app-sidebar-menu #sidebarMenu></app-sidebar-menu>
    <router-outlet></router-outlet>
</div>
