
    
    <div class=" flex flex-wrap mx-auto w-full h-5/6 rounded-b-lg px-6 py-4 md:mx-12 overscroll-contain overflow-y-auto ">
        
        @for (s of this.testData; track s.ID_shirt){
            <div class="flex w-40 md:w-48 h-60 px-2 pb-4">
                <div class="container static flex flex-wrap w-full h-full border border-gray-400">
                    <div class="mx-auto w-full h-4/6 bg-red-500">image</div>
                    <div class="flex w-full h-1/6">{{s.team}}</div>
                    <div class="w-2/6 h-1/6">{{s.price}}</div>
                    <div class="flex relative w-4/6 h-1/6"><p class="absolute right-0">{{s.year}}</p></div>
                </div>
            </div> 
        }
    </div>